#contact-links {
    display: flex;
    justify-content: center;
}

/* Size links as per width and height but grow and shrink to with the container */
#contact-links a {
    flex: auto;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    /* Make the content wrap to the next line if they overflow */
    flex-wrap: wrap;
    padding-left: 1%;
}
