#contact-links {
    display: flex;
    justify-content: space-between;
}

/* Size links as per width and height but grow and shrink to with the container */
#contact-links a {
    flex: auto;
}

.content {
    display: flex;
    /* Make the content wrap to the next line if they overflow */
    flex-wrap: wrap;
    /* Add a line between the content header and the content */
    border-left: 5px solid var(--text-color1);
    padding-left: 1%;
}

/* Stack content for small screens */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        /* Remove the dividing line for the columns */
        border-left: none;
        padding-left: 1%;
        padding-bottom: 1%;
    }
}