.nav li {
    display: inline;
}

.nav {
    flex: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
}

.nav-link {
    font-size: 200%;
    text-decoration: none;
}

.active {
    /* Set the active link to white */
    color: white;
}

@media screen and (max-width: 792px) {
    .nav {
        flex-direction: column;
    }

}